.App{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  box-shadow: 0 0 1rem black;
  border-radius: 1rem;
}
.reviews{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.title-right-side{
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
  color: rgb(40, 3, 76);

}
.btn-continue{
  height: 3rem;
  background-color: rgb(40, 3, 76);
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}
